.criminalHTML {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    justify-content: space-evenly;
    
   
}

.criminalTag{
    justify-content: center;
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    margin: 15px;

}

h2 {
    text-align: center;
}

.facilityHTML{
    display: flex;
    flex-wrap: wrap;
    
}

.facilityTag{
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    margin: 15px;

}

.officerTag{
    margin: 15px;
    
    
}

.officerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    }

.officerCSS{
    border: 1px dashed blue;
    color: blue;
    
    
}

.dark-background{
    background-color: #2b362e;
    color: #fafcfb;
  }
  
.navBar ul{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    font-family:'Source Serif Pro', serif;
    font-size: 16pt;
    justify-content: space-evenly;
    align-content: center;
    background-color:yellow;
    margin-bottom: 2em;
    margin-left: 0.5em;
    padding: 0.5em;
}

.navBar li{
    display: inline-block;
}